# Maven
/target/

# Gradle
/.gradle/

# Node
/node_modules/

# IDEs
/.idea/
/.vscode/

# Logs
*.log
*.gz

# OS
.DS_Store

# Docker
docker-compose.override.yml

# Ignore local env files
.env

# unfinished files
swafy-mobile
